<div>
  <h2 id="page-heading" data-cy="CommandeHeading">
    <span jhiTranslate="gestionDesCommandesApp.commande.home.title">Commandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionDesCommandesApp.commande.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-commande"
        [routerLink]="['/commande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionDesCommandesApp.commande.home.createLabel"> Créer un nouveau Commande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="commandes?.length === 0">
    <span jhiTranslate="gestionDesCommandesApp.commande.home.notFound">Aucun Commande trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commandes && commandes.length > 0">
    <table class="table table-dark" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numerocommande">
            <span jhiTranslate="gestionDesCommandesApp.commande.numerocommande">Numerocommande</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datecommande">
            <span jhiTranslate="gestionDesCommandesApp.commande.datecommande">Datecommande</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="client.numeroclient">
            <span jhiTranslate="gestionDesCommandesApp.commande.client">Client</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/commande', commande.id, 'view']">{{ commande.id }}</a>
          </td>
          <td>{{ commande.numerocommande }}</td>
          <td>{{ commande.datecommande | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="commande.client">
              <a [routerLink]="['/client', commande.client.id, 'view']">{{ commande.client?.numeroclient }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/commande', commande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/commande', commande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(commande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
